{% extends 'template.html' %}

{% block main %}
	<h2> Swan Creek Press</h2>
	<div> 
		Swan Creek Press is a small publishing company created out of Toledo Ohio.  It has published such Books as:
		<ul>
			<li> <a href='/Books/MoreThanAGame/'>More Than A Game</a></li>
			<li> <a href='/Books/TheTownThatNeverStared/'>The Town That Never Stared</a></li>
			<li> <a href='/Books/PenaltyKick/'>Penalty Kick</a></li>
		</ul>
		Ideally, we'd have some more information about why Swan Creek Press is such an awesome place
	</div>
{% endblock %}
