{% extends 'template.html'%}
{% block SEO %}
<title> Swan Creek Press: Terence O'Leary </title>
<meta name="keywords" content="Terence O'Leary, Toledo Ohio, Toledo Author, Swan Creek Press" />
<meta name="description" content="Terence O'Leary is a an author from Toledo Ohio, with his first book being More Than a Game" />
{% endblock %}

{% block main %}
	<div> 
		<h2>Terence O’Leary </h2>
		<p>
			The inspiration for More Than a Game came to me on the slope of my front driveway. As I was pitching plastic golf balls to my son, I thought about the bond baseball weaves between fathers and sons. I wanted to tell a story that would convey that bond and the magical moments families find on baseball fields. Little did I know this story would consume the next three years of my life. 
		</p>
		<p>
			Jane Bradley, a writer and teacher, read an early draft of More Than a Game and convinced me that I didn’t have a novel but the seeds of one. I spent years reworking More Than a Game. Chapters I spent weeks writing were deleted. Characters were sent to the unemployment file. I reached the point where I thought I was living inside the story. I could recite lines of dialogue in my sleep. I agonized over every word. 
		</p>
		<p>
			More Than a Game is the story I wanted to tell, a simple story of a father’s love for his child and the bond baseball spins through families.
		</p>
		
		<a href="http://www.toledoblade.com/apps/pbcs.dll/article?AID=/20060712/ART02/60712009"> Toledo Blade Article </a>
	</div>
{% endblock %}
