<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		{%block SEO%}{% endblock %}
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css" />
		<link rel="Stylesheet" type="text/css" href="{{STATIC_URL}}css/core.css" />

		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/core.js"></script>

	</head>

	<body>
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="/">Swan Creek Press</a>
				<ul class="nav">
					<li><a href="/Books/">Books</a></li>
					<li><a href="/Author/">Author</a></li>
				</ul>
			</div>
		</div>

		<div id="main" class="container">
			{% block main%}  {% endblock %}
		</div>
	</body>

</html>

